html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #1abc9c;
  text-decoration: none;
  border-bottom: 1px solid #90dfd0;
}

a:hover {
  color: #1abc9c;
  border-bottom: 1px solid #1abc9c;
}

body {
  padding: 10px;
  background: #fff;
  color: #555;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 1.3em;
  font-weight: normal;
}

h1,
h2,
article {
  margin: 30px 0px;
}

h1 {
  font-size: 90px;
  font-weight: 400;
  color: #d3d3d3;
  text-align: center;
  margin: 50px 0;
}

h2 {
  font-weight: 300;
  font-size: 26px;
}

h1,
h2,
h3 {
  line-height: 1.3em;
}

section {
  max-width: 900px;
  margin: 0 auto;
}

section h3 {
  margin-bottom: 40px;
  font-weight: bold;
}

hr {
  margin: 80px auto;
  height: 0px;
  border: 0;
  border-top: 1px solid #e1e1e1;
  width: 60%;
}

.pro-admin {
  margin: 80px auto;
  text-align: center;
}

.pro-admin h3 {
  line-height: 1.6em;
}

.pro h1 {
  font-size: 48px;
  color: #888;
}

.pro .about,
.pro .services,
.pro .info {
  font-size: 21px;
  margin: 20px 0;
  line-height: 1.4em;
}

.pro .about strong,
.pro .services strong,
.pro .info strong {
  background-color: #90dfd0;
  padding: 2px 6px;
  font-weight: bold;
}

.pro-partner {
  text-align: center;
}

.pro-partner a {
  border: 0;
}

.pro-partner img {
  max-width: 400px;
  width: 90%;
  height: auto;
}

.pro .info {
  word-spacing: 0.9em;
}

.pro .info a {
  word-spacing: normal;
}

.personal {
  margin: 100px auto;
  text-align: center;
}

.personal h2 {
  font-size: 30px;
  margin-top: 15px;
}

.personal h2 em {
  font-size: 16px;
  margin: 0 20px;
  vertical-align: middle;
  height: 30px;
  color: #888;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
}

.personal .xx {
  margin-bottom: 10px;
}

.personal article {
  margin: 20px auto;
  background: #f7f7f7;
  width: 200px;
  height: 200px;
  padding-top: 20px;
  border-radius: 200px;
  display: inline-block;
  vertical-align: middle;
}

.personal article dl {
  color: #1abc9c;
  font-size: 14px;
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
}

.personal article dl .postal-code,
.personal article dl .locality {
  display: none;
}

.personal article.parent:first-child {
  margin-right: 40px;
}

.personal article.single dl {
  margin: 0 auto;
}

@media only screen and (max-width: 420px) {
  h1 {
    font-size: 48px;
    margin: 30px 0;
  }
  hr {
    margin: 50px auto;
  }
  .pro h1 {
    font-size: 36px;
  }
  .pro .about,
  .pro .services,
  .pro .info {
    margin: 10px 0;
  }
  .personal {
    margin: 50px 0;
  }
  .personal h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .personal .xx {
    margin-bottom: 20px;
  }
  .personal article {
    margin: 10px auto;
    background: #f7f7f7;
    width: 140px;
    height: 140px;
    padding-top: 5px;
    border-radius: 140px;
  }
  .personal article dl {
    font-size: 12px;
  }
  .personal article.parent:first-child {
    margin-right: auto;
  }
}
